.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: smaller;
  font-family: inherit;
  color: rgb(29, 28, 28);
}

.button-enable {
  background: #ffffff;
  color: #BDBDBD;
  border-color: #BDBDBD;
  border-radius: 6px;
  position: static;
  width: auto;
  height: auto;
  left: 0px;
  top: 0px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
}

.button-enable:hover {
  background: #139148;
  border-color: #139148;
  border-radius: 6px;
  width: auto;
  height: auto;
}

.button-enable:active {
  background: #139148!important;
  border-color: #139148!important;
}

.button-enable:focus {
  box-shadow: 0 0 0 0.1rem rgb(19 145 72)!important;
}

.button-prt {
  background: #002b99;
  color: #ffffff;
  border-color: #002b99;
  border-radius: 6px;
  width: 30%;
  height: auto;
  left: 0px;
  top: 0px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.colgris{
  background-color: #F2F2F2;
  height: 27px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding-top: 5px;
  font-size: 10px;
}
.colgris2{
  height: 27px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #F2F2F2;
  padding-top: 5px;
  font-size: 10px;
}

.colgris3{
  height: 27px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #e0e0e0;
  padding-top: 5px;
  font-size: 10px;
}

.colgris4{
  height: 27px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #D9E9FF;
  padding-top: 5px;
  font-size: 10px;
}
